mixin navLink(data="",className='',link)
 li
  a(href=link class= className)=data
    block

mixin icon(iconType, iconName, className= '')
  span(class= className)
    i(class=iconType)(class=iconName)

mixin footerInfo(heading, listItem)
  .footer__info
    p=heading
    ul
      each item in listItem
        li= item

mixin productRating(rate)
  - const stars = [...Array(5)].map((_, index) => index >= rate ? 'fa-regular fa-star' : 'fa-solid fa-star')
    each star in stars
      span
        i(class=star)
    
mixin ratioImage(img, ratio = '1/1')
  img.ratio-image(src=img style=`--ratio: $ratio`)

mixin displayProduct({name, status='', price, image, type=''})
  .product(class=type?type:'')
    .product-img
 
      img(src= image, alt='product image')
      .product-status= status
     
      .product-hover
        button.product-buy Mua ngay
        button.product-search
          i.fa-solid.fa-magnifying-glass
    .product-detail
      p.product-name=name
      .product-rate
        +productRating(4)
      .product-price
        p.product-sale= price
        p.product-discount 250.000 đ

mixin mainHeader(content)
  h3.sectionHeading
    span=content

mixin horizontalProduct({name,image,price,desc})
  .horizontal-Product
    .horizontal-Product-img
      +ratioImage(image, '1/1')
    .horizontal-Product-detail
      p.horizontal-Product-name=name
      .horizontal-Product-rate
        +productRating(5)
      p.horizontal-Product-desc=desc
      p.horizontal-Product-price=price
      .horizontal-Product-function
        button.btn.btn--primary Mua ngay
        button.btn.btn--circle
          +icon('fa-solid','fa-magnifying-glass')
        button.btn.btn--circle
          +icon('fa-solid','fa-heart')

mixin displayNews({heading, desc, image})
  .news
    .news-img
      img(src=image alt='news image')
    p.news-meta Thứ 7, ngày 31 tháng 12, năm 2015
    h5.news-heading=heading
    p.news-desc=desc
    p.news-additional Đọc tiếp

mixin breadCums(heading)
  p.breadCumbs Home 
    span=heading

mixin color(color,name)
  .color-display
    span.dot(style={background: color})
    span=name

mixin smallnews(img, name)
  .smallnews
    a.smallnews__imgwrap(href="#!")
      img.smallnews__img(src=img , alt="")
    h6.smallnews__name
      a(href="#!")= name

mixin large-news(img, title)
  .large-news
    h3.large-news__title=title
    .large-news__info
      +icon('fa', 'fa-calendar', 'large-news__detail')
      | 20/12/2015
      +icon('fa-solid', 'fa-clock', 'large-news__detail')
      | 11:20:00 AM
      +icon('fa-solid', 'fa-comment', 'large-news__detail')
      | 0 Bình luận
    img.large-news__img(src=img, alt="")
    p.large-news__content Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa nhà luôn được đầu tư và trang trí khá bắt mắt. Cũng có thể nói đây là bộ mặt của ngôi nhà, là ấn tượng đầu tiên khi một vị khách ghé chơi nhà bạn đấy. Hãy cùng Sài Gòn Hoa tham khảo một vài cách bố trí chậu cây hoa cảnh ngay trước cửa nhà sao cho ấn tượng nhất nhé!

mixin pagination
  ul.pagination
    li Trang trước
    - const number = [1,2,3,4]
    each i in number
        li=i

    li Trang cuối