mixin navLink(data="",className='')
 li
  a(href='#' class= className)=data
    block

mixin icon(iconType,iconName)
  span
    i(class=iconType)(class=iconName)

mixin footerInfo(heading, listItem)
  .footer__info
    p=heading
    ul
      each item in listItem
        li= item
